.expander-box {
  padding: 4px;
}

.expander-title {
  font-size: 1.2em;
  font-weight: bold;

  padding: 4px 8px 4px 4px;
}

.dark-mode {
  background-color: oklch(0.3979 0 0);
}

.light-mode {
  background-color: oklch(0.9021 0 0);
}
