expander {
    background-color: #474747;
    padding: 4px;
}

flowbox {
    background-color: #474747;
}

.expander-title {
    font-size: 1.2em;
    font-weight: bold;

    background-color: #474747;
    padding: 4px 8px 4px 4px;
}
